<div class="about-me-container">
  <div class="work-img">
    <img src="../../assets/work-lap.png" alt="" height="370" width="455" />
  </div>
  <div class="work-img-details">
    <span class="about-me title-word">
      <span class="title-word title-word-1">
        ABOUT
      </span>
      <span class="title-word title-word-2">
        ME
      </span>
    </span>
    <h2>
      <b>A </b> <b>D</b>edicated <b>F</b>ront-end <b>D</b>eveloper <b>B</b>ased
      <b>I</b>n <b>K</b>arachi,<b>P</b>akistan
    </h2>
    <div class="animated-section" #animatedSection>
      <p>
        <span>
          As a junior Front-End Developer, I possess an impressive arsenal of
          skills in HTML, CSS , Javascript, Angular,Material UI, and SCSS. I
          excel in designing and maintaining responsive websites that offer a
          smooth user experience.My expertise lies in crafting dynamic, engaging
          interfaces through writing clean and optimized code and utilizing
          cutting-edge development tools and techniques. Im also a team player
          who thrives in collabrating with cross functional teams to produce
          outstanding web-applications.
        </span>
      </p>
    </div>
  </div>
</div>
