.footer-section{
    display: flex;
    background-color: #b365e1;
    color: #fff;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    padding: 0px 41px
}
img{
    cursor: pointer;
}
