<div class="main-container">
    <nav class="sticky-navbar">
        <div class="right-section">
            <span>Sharoze.dev</span>
        </div>
        <div class="left-section">
            <ul>
                <li (click)="navigateTo('home')">Home</li>
                <li (click)="navigateTo('about')">About</li>
                <li (click)="navigateTo('projects')">Projects</li>
                <li (click)="navigateTo('footer')">Contact</li>
            </ul>
        </div>
    </nav>
</div>

