<div class="main" [ngClass]="{'dark-mode': isDarkMode}">
  <div class="portfolio-section">
    <div class="header-section">
      <span class="title-word title-word-1">
        PORTFOLIO
      </span>
      <h2>Each project is a unique piece of development.</h2>
    </div>

    <!-- coffee shop  -->
   

    <div class="portfolio-content" id="exzo-website"  [@fadeIn]="sectionStates['exzo-website'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/exzo.png" alt="" height="351" width="628" />
      </div>
       <div class="project-details">
        <h4>EXZO</h4>
        <p>
          EXZO is an ecommerce webiste used for the buying the all tech related accessories
          Mostly for headphones and different variety of headphones. I've built that website
          on Angular using angular material.Its deployed on firebase.
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>ANGULAR</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-typescript-48.png" alt="" height="30" width="30" />
            <span>Typescript</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showExzoCode()">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showExzoDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- RENT A CAR  -->
    <div class="portfolio-section">
      <div class="portfolio-content" id="rent-hub"  [@fadeIn]="sectionStates['rent-hub'] || 'hidden'">
        <div class="project-img">
          <img src="../../assets/rent-car" alt="" height="351" width="628" />
        </div>
         <div class="project-details">
          <h4>RENT HUB</h4>
          <p>
            Rent-Hub" is a modern web application designed to streamline the process of renting
            properties. Developed using React for its dynamic and efficient UI, and Tailwind CSS
            for responsive design, the application offers seamless functionality across all
            devices, ensuring users can easily browse, manage, and book rental properties whether
            they're on a mobile phone or a laptop. The platform is optimized for performance and
            user experience, making it an ideal solution for the rental market.
          </p>
          <div class="tech-buttons-section">
            <div class="tech">
              <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
              <span>HTML</span>
            </div>
            <div class="tech">
              <img src="../../assets/icons8-react-native-48.png" alt="" height="30" width="30" />
              <span>REACT</span>
            </div>
            <div class="tech">
              <img src="../../assets/tailwind.png" alt="" height="30" width="30" />
              <span>Tailwind CSS</span>
            </div>
          </div>
          <div class="demo-btns">
            <div class="code">
              <button [ngClass]="{'desp-color': isDarkMode}" (click)="goToRentACarCode()">Code</button>
              <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
            </div>
            <div class="live-demo">
              <button [ngClass]="{'desp-color': isDarkMode}" (click)="showRentACarDemo()">Live Demo</button>
              <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- COFFEEE WEBSITE  -->
    <div class="portfolio-section">
      <div class="portfolio-content"  id="coffee-website"  [@fadeIn]="sectionStates['coffee-website'] || 'hidden'">
        <div class="project-img">
          <img src="../../assets/coffee-website.PNG" alt="" height="351" width="628" />
        </div>
        <div class="project-details">
          <h4>Coffee bucks</h4>
          <p>
            A coffee bucks website is an online platform that allows users to place
            an order for coffee. This website provides a user friendly interface.It
            is built by using HTML, Javascript , CSS, and bootstrap.At "Coffee
            bucks" we believe that coffee is more than just a beverage; it's an
            experience. Our website is crafted with love and passion to share the
            art and joy of coffee with aficionados and newcomers alike ( Its not mobile responsive ).
          </p>
          <div class="tech-buttons-section">
            <div class="tech">
              <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
              <span>HTML</span>
            </div>
            <div class="tech">
              <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
              <span>CSS</span>
            </div>
            <div class="tech">
              <img src="../../assets/icons8-javascript-48.png" alt="" height="30" width="30" />
              <span>Javascript</span>
            </div>
            <div class="tech">
              <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
              <span>Bootstrap</span>
            </div>
          </div>
          <div class="demo-btns">
            <div class="code">
              <button [ngClass]="{'desp-color': isDarkMode}" (click)="goToCoffeewebsiteCode()">Code</button>
              <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
            </div>
            <div class="live-demo">
              <button [ngClass]="{'desp-color': isDarkMode}" (click)="showCoffeeDemo()">Live Demo</button>
              <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
            </div>
          </div>
        </div>
  
      </div>
    </div>

  <!-- SimplifyVMS -->
  <div class="portfolio-section">
    <div class="portfolio-content" id="simplify"  [@fadeIn]="sectionStates['simplify'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/simplify-vms.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>Simplify VMS</h4>
        <p>
          "Simplify VMS" is a global project aimed at streamlining and optimizing Visitor
          Management Systems (VMS) for businesses and organizations. By leveraging cutting-edge
          technology and innovative solutions, Simplify VMS offers a user-friendly platform that
          enhances the visitor registration process, improves security measures, and provides valuable
          data insights. I have worked on it made multiple modules and added various features on simplify
          VMS. Did bug fixes on it.

        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>Angular</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-typescript-48.png" alt="" height="30" width="30" />
            <span>Typescript</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showSimplifyVmsDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SECOND PROJECT  -->

  <!-- chatlist  -->

  <div class="portfolio-section">
    <div class="portfolio-content" id="super-chat"  [@fadeIn]="sectionStates['super-chat'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/full-chat.png" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>Super Chat</h4>
        <p>
          Introducing my latest project, the Angular Firebase Chatlist! This dynamic and real-time chat application
          is built using Angular for the front end and Firebase for the back end, offering a seamless and
          responsive user experience.I have built this application using technologies like Angular , Firebase(Firestore
          , Authentication)
          ,Typescript and Html and Scss.

        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>Angular</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-firebase-48.png" alt="" height="30" width="30" />
            <span>Firebase</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="goToChatwebsiteCode()">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showChatDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- EZRA AI  -->
  <div class="portfolio-section">
    <div class="portfolio-content" id="ezra-ai"  [@fadeIn]="sectionStates['ezra-ai'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/papajhons.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>EZRA AI</h4>
        <p>
          "EZRA AI: Papa John's Food Website" is a significant project within the global food industry,
          showcasing my expertise and contributions to the Papa John's online platform. As part of a
          large-scale initiative, I played a pivotal role in enhancing the user experience and
          optimizing the functionality of this expansive website. In addition to my initial contributions
          ,I actively participated in ongoing maintenance and updates to the Papa John's website.
          Through continuous testing, feedback analysis, and iteration, I helped drive improvements and
          enhancements to keep the website at the forefront of the industry

        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>Angular</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-typescript-48.png" alt="" height="30" width="30" />
            <span>Typescript</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showEzraDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-section">
    <div class="portfolio-content"  id="star-gym"  [@fadeIn]="sectionStates['star-gym'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/gym-template.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>Star Gym</h4>
        <p>
          Welcome to Star Gym – an HTML and CSS masterpiece designed for fitness
          enthusiasts. This gym website template is a seamless blend of aesthetics
          and functionality, offering an immersive experience for individuals
          seeking to elevate their fitness journey. Its a simple gym template
          which is been made by using HTML CSS and Bootstrap named as Star Gym. ( Its not mobile responsive )
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="gotoGymTemplateCode()">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showGymDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- THIRD PROJECT  -->

  <div class="portfolio-section">
    <div class="portfolio-content"  id="budget-pro"  [@fadeIn]="sectionStates['budget-pro'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/budget-app.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>Budget Pro App</h4>
        <p>
          "BudgetPro," a comprehensive budget management application designed and
          implemented using Angular, HTML, CSS, and Bootstrap. This web
          application empowers users to effortlessly manage their finances, track
          expenses, and set budgetary goals. Set and monitor personalized budget
          goals to align your financial activities with your aspirations. Whether
          you're saving for a vacation or aiming for a specific financial
          milestone, BudgetPro keeps you on track ( Its not mobile responsive )
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>SCSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>Angular</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="goToBudgetGitHubCode()">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showBudgetLiveDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fourth project  -->
  <!-- ELK  -->

  <div class="portfolio-section">
    <div class="portfolio-content"  id="draw-stack"  [@fadeIn]="sectionStates['draw-stack'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/ELK.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>DRAW STACK</h4>
        <p>
          I am proud to showcase my contribution to the development of a
          sophisticated Log Analytics website that leverages the power of ELK
          (Elasticsearch, Logstash, Kibana) to provide real-time insights into log
          data from diverse sources. The main goal of this project was to create a
          centralized platform for log analysis, offering a comprehensive solution
          for monitoring and visualizing live logs across different environments.
          I have replicated ELK (elastic search , log analytics and kibana) by
          using log sources Mongodb, SQL, Oracle, Linux and Windows
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>SCSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-react-native-48.png" alt="" height="30" width="30" />
            <span>React</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fifth project  -->
  <!-- ng-todolist  -->

  <div class="portfolio-section">
    <div class="portfolio-content"  id="todolist"  [@fadeIn]="sectionStates['todolist'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/todolist.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>NG TODOLIST</h4>
        <p>
          I am excited to showcase my work on a dynamic and user-friendly To-Do
          List application developed using Angular. This project demonstrates my
          proficiency in front-end development, Angular framework, and the
          implementation of interactive and responsive user interfaces.Its a
          simple todolist which has been built through some dummy APIs get, post,
          put and delete using angular material features.
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>SCSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>Angular</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button (click)="goToUserListCode()" [ngClass]="{'desp-color': isDarkMode}">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}" />
          </div>
          <div class="live-demo">
            <button (click)="showUserListDemo()" [ngClass]="{'desp-color': isDarkMode}">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- sixth project  -->
  <!-- church template  -->

  <div class="portfolio-section">
    <div class="portfolio-content"  id="church"  [@fadeIn]="sectionStates['church'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/church-template.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>ST. CHURCH</h4>
        <p>
          I am delighted to present my work on the creation of a website template
          for St. Paul Church, meticulously crafted using HTML and CSS. This
          project reflects my commitment to delivering aesthetically pleasing and
          functional web solutions that cater specifically to the needs of
          religious organizations.Utilized the latest HTML standards for
          structuring the content and ensuring accessibility.Employed CSS3 for
          styling, layout design , and creating a cohesive visual identity for the
          church website  ( Its not mobile responsive )
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showChurchCode()">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}" />
          </div>
          <div class="live-demo">
            <button [ngClass]="{'desp-color': isDarkMode}" (click)="showChurchDemo()">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 7th project  
   digital trent template
  -->

  <div class="portfolio-section">
    <div class="portfolio-content"  id="trend"  [@fadeIn]="sectionStates['trend'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/digital-trend-template.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>DIGITAL TREND</h4>
        <p>
          I am delighted to present my work on the creation of a website template
          for DIGITAL TREND using HTML and CSS. This
          project reflects my commitment to delivering aesthetically pleasing and
          functional web solutions.Utilized the latest HTML standards for
          structuring the content and ensuring accessibility.Employed CSS3 for
          styling, layout design , and creating a cohesive visual identity. ( Its not mobile responsive )
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button (click)="showDigitalTrendCode()" [ngClass]="{'desp-color': isDarkMode}"  >Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}" />
          </div>
          <div class="live-demo">
            <button (click)="goToDigitalTrendDemo()" [ngClass]="{'desp-color': isDarkMode}">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 8th project  -->
  <!-- host cloud template  -->

  <div class="portfolio-section">
    <div class="portfolio-content"  id="host-cloud"  [@fadeIn]="sectionStates['host-cloud'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/host-cloud-template.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>HOST CLOUD</h4>
        <p>
          I am presenting my work on the creation of a website template
          for HOST CLOUD using HTML and CSS. This
          project reflects my commitment to delivering aesthetically pleasing and
          functional web solutions.Utilized the latest HTML standards for
          structuring the content and ensuring accessibility.Employed CSS3 for
          styling, layout design , and creating a cohesive visual identity. ( Its not mobile responsive )
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>CSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button (click)="showHostCloudCode()" [ngClass]="{'desp-color': isDarkMode}">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button (click)="goToHostCloudDemo()" [ngClass]="{'desp-color': isDarkMode}">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25" [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-section">
    <div class="portfolio-content"  id="job"  [@fadeIn]="sectionStates['job'] || 'hidden'">
      <div class="project-img">
        <img src="../../assets/job-portal.PNG" alt="" height="351" width="628" />
      </div>
      <div class="project-details">
        <h4>JOB PORTAL</h4>
        <p>
          I am excited to showcase my work on an innovative and wfeature-rich Job Portal application developed using
          Angular, SCSS, and HTML. This project highlights my proficiency in front-end development, Angular framework,
          and the implementation of responsive and visually appealing user interfaces.Designed a comprehensive job
          search functionality with advanced filtering options, allowing users to find relevant job opportunities 
        </p>
        <div class="tech-buttons-section">
          <div class="tech">
            <img src="../../assets/icons8-html-48.png" alt="" height="30" width="30" />
            <span>HTML</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-css-48.png" alt="" height="30" width="30" />
            <span>SCSS</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-bootstrap-48.png" alt="" height="30" width="30" />
            <span>Bootstrap</span>
          </div>
          <div class="tech">
            <img src="../../assets/icons8-angularjs-48.png" alt="" height="30" width="30" />
            <span>Angular</span>
          </div>
        </div>
        <div class="demo-btns">
          <div class="code">
            <button (click)="goToJobPortalCode()" [ngClass]="{'desp-color': isDarkMode}">Code</button>
            <img src="../../assets/icons8-github-30.png" alt="" height="30" width="30"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
          <div class="live-demo">
            <button (click)="showJobPortalDemo()" [ngClass]="{'desp-color': isDarkMode}">Live Demo</button>
            <img src="../../assets/open.png" alt="" height="25" width="25"  [ngStyle]="{'filter': isDarkMode ? 'invert(1)' : 'none'}"  />
          </div>
        </div>
      </div>
    </div>
    <div class="contact-section">
      <span>
        CONTACT
      </span>
      <h2>Dont be shy! Hit me up!</h2>
      <div class="contact-desp">
        <div class="location">
          <div class="first-line">
            <img src="../../assets/icons8-location-48.png" alt="" height="30" width="30" />
            <span class="heading" [ngClass]="{'another-black': isDarkMode}">Location</span>
          </div>
          <span class="details">Karachi , Pakistan</span>
        </div>
        <div class="location">
          <div class="first-line">
            <img src="../../assets/icons8-mail-48.png" alt="" height="30" width="30" />
            <span class="heading" [ngClass]="{'another-black': isDarkMode}">Email</span>
          </div>
          <span class="details" (click)="sendEmail('sharozekkhan@gmail.com')">{{'sharozekkhan@gmail.com'}}</span>
        </div>
        <div class="location">
          <div class="first-line">
            <img src="../../assets/phone.png" alt="" height="30" width="30" />
            <span class="heading" [ngClass]="{'another-black': isDarkMode}">Contact No</span>
          </div>
          <a href="tel:+923232627920" class="details">{{'+923232627920'}}</a>
        </div>
        <div class="location">
          <div class="first-line">
            <img src="../../assets/whatsapp.png" alt="" height="30" width="30" />
            <span class="heading" [ngClass]="{'another-black': isDarkMode}">Whatsapp</span>
          </div>
          <span class="details" style="cursor: pointer;" (click)="redirectToWapp()">{{'Whatsapp link'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>