.main-content-container{
    display: flex;
    align-items: center;
    position: relative;
    top: 6px;
    justify-content: center;
    .details-section{
        width: 448px;
        h1{
            font-size: 44px;
            b{
                color: #b365e1;
            }
        }
        p{
            color:#3a3535
        }
        .git-link-icons{
            margin-top: 10px;
            img{
                cursor: pointer;
            }
        }
    }
    .logo-section{
        padding-top: 50px;
        transform: translatey(0px);
	    animation: float 6s ease-in-out infinite;
    }
}
.tech-stack-container{
    display: flex;
    justify-content: center;
    width: 84%;
    margin-top: 23px;
    align-items: center;
    span{
        margin-right: 30px;
        font-size: 20px;
        font-weight: 900;
    }
    img{
        margin-right: 20px;
        cursor: pointer;
    }
}
.down-resume-btn{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        height: 45px;
        width: 200px;
        // border-radius: 20px;
        // border: navajowhite;
        // background: #cd9bef;
        // color: #fff;
        cursor: pointer;
    }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media (min-width: 400px) and (max-width: 780px) {
    .main-content-container{
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center
    }
    .tech-stack-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 23px;
        align-items: center;
        img{
            margin-right: 8px;
        }
    }
  }

  @media (min-width: 400px) and (max-width: 484px) {

    .main-content-container{
        .details-section{
            width: auto !important;
            margin-left: 18px;
        }
    }
    .tech-stack-container{
        width: 100%;
        span{
            margin-right: 0;
            font-size: 14px;
        }
    }
    
    }

    @media (min-width: 320px) and (max-width: 400px) {
      .main-content-container{
        display: flex;
        flex-direction: column;
      }
      .logo-section{
        img{
          width: 250px;
        }
      }
      .details-section{
        width: 270px !important;
        h1{
          font-size: 26px;
        }
        p{
          font-size: 13px;
          margin-top: 7px;
        }
      }
      .tech-stack-container{
        display: flex;
        flex-direction: column;
        width: auto;
        .tech-stack{
          width: 100%;
          img{
            width: 30px;
            margin-right: 12px;
          }
        }
      }
      .git-link-icons{
        img{
          width: 33px;
        }
      }
  }

    button {
        position: relative;
        border-radius: 7px;
        background: #cd9bef;
        border: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
      }
      
      button:hover {
        background: #b365e1;
        box-shadow: 0 0 30px 5px #e8c1fe;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      
      button:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
      }
      
      button::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
      }
      
      @keyframes sh02 {
        from {
          opacity: 0;
          left: 0%;
        }
      
        50% {
          opacity: 1;
        }
      
        to {
          opacity: 0;
          left: 100%;
        }
      }
      
      button:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
    }

    .theme-checkbox {
        --toggle-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 72px;
        height: 30px;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
        background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
        background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
        background-size: 205%;
        background-position: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        border-radius: 99em;
        position: relative;
        cursor: pointer;
        font-size: var(--toggle-size);
      }
      
      .theme-checkbox::before {
        content: "";
        width: 20px;
        height: 19px;
        position: absolute;
        top: 5px;
        left: 43px !important;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
        background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
        background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
        background-size: 205%;
        background-position: 100%;
        border-radius: 50%;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
      
      .theme-checkbox:checked::before {
        left: calc(100% - 2.25em - 0.438em);
        background-position: 0;
      }
      
      .theme-checkbox:checked {
        background-position: 100%;
      }
    
    .toogle{
        display: flex;
        padding-top: 82px;
        justify-content: end;
        margin-right: 10px;
    }

    //DARK MODE
    .dark-mode{
        background-color: #000;
        color: #fff;
    }
    .desp-color{
        color: #bab7b7 !important;
    }

    .git-mode{
      filter: contrast(0.5);
    }

    //tech stack icons transitions 

    .tech-stack-container {
      margin: 20px;
    }
    
    .tech-stack {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
    
    .iconDiv {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    
    .iconDiv::after {
      content: attr(tooltip);
      position: absolute;
      bottom: -30px; /* Position tooltip below the icon */
      left: 50%;
      transform: translateX(-50%);
      background-color: #333; /* Tooltip background color */
      color: #fff; /* Tooltip text color */
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      z-index: 1;
    }
    
    .iconDiv:hover::after,
    .iconDiv:focus-visible::after {
      opacity: 1;
      visibility: visible;
    }
    
    